// COLORS
$heading-text-DarkBlue: hsl(238, 29%, 16%);
$arrow-SoftRed: hsl(14, 88%, 65%);

$bg-grad-SoftViolet: hsl(273, 75%, 66%);
$bg-grad-Softblue: hsl(240, 73%, 65%);

$text-question-darkgrey: hsl(237, 12%, 33%);
$text-answer-lightgrey: hsl(240, 6%, 50%);

$divider-greyishblue: hsl(240, 5%, 91%);

//Media Query
$width: 420px;

//CSS RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

// ***
body{
    background: linear-gradient($bg-grad-SoftViolet, $bg-grad-Softblue);
    background-repeat: no-repeat;
    min-height: 100vh;

    display: grid;
    place-items: center;

    grid-template-rows: 1fr;

    @media (max-width: $width){
        padding-block: 9rem;
    }
    
}

.container{
    position: relative;

    display: grid;
    grid-template-columns: 480px 1fr;

    background-color: #fff;
    max-width: 890px;
    min-height: 475px;
    border-radius: 20px;

    @media (max-width: $width){
        grid-template-columns: 1fr;
        grid-template-rows: 135px 1fr;
        max-width: 340px;
        min-height: 574px;
        border-radius: 25px;
    }
}

.image{
    overflow: hidden;
    position: relative;
    
    .image__bg_desktop{
        position: absolute;
        top:-70%;
        left: -119%;
    }
    .image__bg_mobile{
        display: none;
    }
    .image__main_desktop{
        position: absolute;
        top: 10%;
        left: -16%;
    }
    .image__main_mobile{
        display: none;
    }

    @media (max-width: $width){
        overflow: unset;
        .image__bg_desktop{
            display: none;
        }
        .image__bg_mobile{
            display: block;
            position: absolute;
            top: 0%;
            left: 15%;
        }
        .image__main_desktop{
            display: none;
        }
        .image__main_mobile{
            display: block;
            position: absolute;
            top: -80%;
            left: 7%;
        }
    }
}

.accordion{
    padding: 4rem 4rem 3rem 0;
    h1{
        color: $heading-text-DarkBlue;
        padding-bottom: 1rem;
    }

    @media (max-width: $width){
        padding: 0rem 1.5rem 3rem 1.5rem;

        h1{
            text-align: center;
        }
    }
}

.accordion__content{
    padding: 1rem 1rem 0 0;

    border-bottom: 1px solid $divider-greyishblue;

    width: 335px;

    .accordion__question{
        display: flex;
        justify-content: space-between;

        cursor: pointer;

        padding-bottom: 1rem; 

        

        h2{
            font-size: 13px;
            font-weight: 400;
            color: $text-question-darkgrey;
        }

        img{
            align-self: center;

            transition: transform 150ms ease-in-out;
        }

        &:hover{
            h2{
                color: $arrow-SoftRed;
            }
        }

        @media (max-width: $width){
            &:hover{
                h2{
                    color: unset;
                }
            }
        }
    }

    .accordion__question_active{
        h2{
            font-weight: 700;
            color: $heading-text-DarkBlue;
        }
        img{
            transform: rotate(180deg);
        }
    }

    .accordion__answer{
        padding-bottom: 1rem;
        display: none;

        p{
            font-size: 11px;
            font-weight: 400;
            color: $text-answer-lightgrey;
        }
    }

    .accordion__answer_active{
        display: block;
    }

    @media (max-width: $width){
        padding: 1.5rem 0rem 0rem 0rem;

        width: 292px;

    }
}

.box{
    position: absolute;
    top: 41%;
    left: -11%;

    @media (max-width: $width){
        display: none;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;

    padding-top: 45px;

    a { 
        color: $heading-text-DarkBlue;
    }
}

