*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media (max-width: 420px) {
  body {
    padding-block: 9rem;
  }
}

.container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 480px 1fr;
      grid-template-columns: 480px 1fr;
  background-color: #fff;
  max-width: 890px;
  min-height: 475px;
  border-radius: 20px;
}

@media (max-width: 420px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 135px 1fr;
        grid-template-rows: 135px 1fr;
    max-width: 340px;
    min-height: 574px;
    border-radius: 25px;
  }
}

.image {
  overflow: hidden;
  position: relative;
}

.image .image__bg_desktop {
  position: absolute;
  top: -70%;
  left: -119%;
}

.image .image__bg_mobile {
  display: none;
}

.image .image__main_desktop {
  position: absolute;
  top: 10%;
  left: -16%;
}

.image .image__main_mobile {
  display: none;
}

@media (max-width: 420px) {
  .image {
    overflow: unset;
  }
  .image .image__bg_desktop {
    display: none;
  }
  .image .image__bg_mobile {
    display: block;
    position: absolute;
    top: 0%;
    left: 15%;
  }
  .image .image__main_desktop {
    display: none;
  }
  .image .image__main_mobile {
    display: block;
    position: absolute;
    top: -80%;
    left: 7%;
  }
}

.accordion {
  padding: 4rem 4rem 3rem 0;
}

.accordion h1 {
  color: #1d1e35;
  padding-bottom: 1rem;
}

@media (max-width: 420px) {
  .accordion {
    padding: 0rem 1.5rem 3rem 1.5rem;
  }
  .accordion h1 {
    text-align: center;
  }
}

.accordion__content {
  padding: 1rem 1rem 0 0;
  border-bottom: 1px solid #e7e7e9;
  width: 335px;
}

.accordion__content .accordion__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding-bottom: 1rem;
}

.accordion__content .accordion__question h2 {
  font-size: 13px;
  font-weight: 400;
  color: #4a4b5e;
}

.accordion__content .accordion__question img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.accordion__content .accordion__question:hover h2 {
  color: #f47c57;
}

@media (max-width: 420px) {
  .accordion__content .accordion__question:hover h2 {
    color: unset;
  }
}

.accordion__content .accordion__question_active h2 {
  font-weight: 700;
  color: #1d1e35;
}

.accordion__content .accordion__question_active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__content .accordion__answer {
  padding-bottom: 1rem;
  display: none;
}

.accordion__content .accordion__answer p {
  font-size: 11px;
  font-weight: 400;
  color: #787887;
}

.accordion__content .accordion__answer_active {
  display: block;
}

@media (max-width: 420px) {
  .accordion__content {
    padding: 1.5rem 0rem 0rem 0rem;
    width: 292px;
  }
}

.box {
  position: absolute;
  top: 41%;
  left: -11%;
}

@media (max-width: 420px) {
  .box {
    display: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 45px;
}

.attribution a {
  color: #1d1e35;
}
/*# sourceMappingURL=style.css.map */